<h1>Recipes</h1>
<% if @recipes.any?() %>
<h3>Recipes:</h3>

  <ul>
    <% @recipes.each() do |recipe| %>
      <li><%= recipe.name %> <%= recipe.rating %> <a href="/recipes/<%= recipe.id() %>"></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no recipes yet.</h3>
<% end %>

<form class="form-inline" action="/recipes" method="post">
    <label for="name"></label>
    <input type="text" name="name" placeholder="Name" required>

    <label for="rating"></label>
    <input type="rating" name="rating" placeholder="Rating" required>

    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
