<div class="row">
<h1>Recipes</h1>
<% if @recipes.any?() %>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel">
      <div class="btn-group btn-group-justified">
        <a href="/recipes/name" class="btn btn-primary">Recipe</a>
        <a href="/recipes/rating" class="btn btn-primary">Rating</a>
      </div>
      <div class="list-group">
        <% @recipes.each() do |recipe| %>
          <a class="list-group-item" href="/recipes/<%= recipe.id() %>">
            <div class="row">
              <div class="col-md-4 col-md-offset-2"><%= recipe.name %></div>
              <div class="col-md-4">
                <% for i in 1..recipe.rating %>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <% end %>
                <% for i in recipe.rating..4 %>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <% end %>
              </div>
          </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h3>There are no recipes yet.</h3>
<% end %>
</div>
<br>
<div class="form-group">
  <form class="form-inline" action="/recipes" method="post">
      <label for="name"></label>
      <input type="text" name="name" placeholder="Name" required>

      <label for="rating"></label>
      <input type="rating" name="rating" placeholder="Rating" required>

      <button type="submit" class="btn btn-primary">Add Recipe</button>
  </form>
</div>
